contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.3
kiwisolver==1.4.4
lark==1.1.5
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pycryptodome==3.20.0
pyparsing==3.0.9
python-dateutil==2.8.2
secret-sharing==0.2.7
six==1.16.0
utilitybelt==0.2.6
